job "nginx" {
  datacenters = ["dc1"]

  group "nginx" {
    count = 3

    task "nginx" {
      driver = "docker"

      config {
        image = "nginx:latest"
        ports = ["http"]
        force_pull = false
        volumes = [
          "local/index.html:/usr/share/nginx/html/index.html"
        ]
      }

      template {
        data = <<-EOF
Mission Complete!
EOF
        destination = "local/index.html"
      }

      resources {
        cpu    = 500
        memory = 256
      }

      # Регистрация сервиса в Consul
      service {
        name = "nginx"  # Имя сервиса в Consul
        port = "http"   # Порт, который будет зарегистрирован в Consul

        check {
          name     = "nginx HTTP check"  # Имя проверки
          type     = "http"              # Тип проверки (HTTP)
          path     = "/"                 # Путь для проверки
          interval = "10s"               # Интервал проверки
          timeout  = "2s"                # Таймаут проверки
        }
      }

      env {
        NGINX_ROOT = "/usr/share/nginx/html"
      }
    }

    network {
      port "http" {
        static = 8080
        to = 80
      }
    }
  }
}