datacenter = "dc1"
data_dir = "/opt/nomad"
log_level = "DEBUG"
name = "{{ inventory_hostname }}"

bind_addr = "0.0.0.0"

server {
  enabled = true
  bootstrap_expect = 3
}

client {
  enabled = true
}

plugin "docker" {
  config {
    endpoint = "unix:///var/run/docker.sock"
    allow_privileged = true
    volumes {
      enabled = true
    }
  }
}

plugin "cni" {
  config {
    cni_path = "/opt/cni/bin"
    cni_config_dir = "/etc/cni/net.d"
  }
}
